<section class="container">
  <app-header></app-header>
  <app-todo-list></app-todo-list>
  <div class="footer">
    Developed with
    <img src="assets/img/flork_love.png" alt="Flork Love" title="Flork Love" />
    and
    <img
      src="assets/img/flork_coffee.png"
      alt="Flork Coffe"
      title="Flork Coffe"
    />
    by Muriel Zounar
    <a href="https://www.linkedin.com/in/murielzounar/">
      <img
        src="assets/img/flork_dev.png"
        alt="Flork Developer"
        title="Flork Developer"
      />
    </a>
  </div>
  <div class="social">
    <a href="https://github.com/MurielZounar/flork-todo" target="_blank">
      <img class="logo" src="assets/img/github_logo.svg" alt="GitHub Logo" />
    </a>
    <a href="https://www.linkedin.com/in/murielzounar/" target="_blank">
      <img
        class="logo"
        src="assets/img/linkedin_logo.svg"
        alt="LinkedIn Logo"
      />
    </a>
    <a href="https://www.instagram.com/muriel.zounar/" target="_blank">
      <img
        class="logo"
        src="assets/img/instagram_logo.svg"
        alt="Instagram Logo"
      />
    </a>
  </div>
</section>
