<section class="container">
  <app-header></app-header>
  <app-todo-list></app-todo-list>
  <div class="footer">
    Developed with
    <img
      src="../../../../../assets/img/flork_love.png"
      alt="Flork Love"
      title="Flork Love"
    />
    and
    <img
      src="../../../../../assets/img/flork_coffee.png"
      alt="Flork Coffe"
      title="Flork Coffe"
    />
    by Muriel Zounar
    <img
      src="../../../../../assets/img/flork_dev.png"
      alt="Flork Developer"
      title="Flork Developer"
    />
  </div>
</section>
