@import '../../../../../dist/scss/variables.scss';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;

  input {
    width: 80%;
    border: none;
    background: $tertiary-background-color;
    font-size: 16px;
    color: $secondary-text-color;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.209);

    &::placeholder{
      color: $secondary-text-color;
    }
  }
  button {
    width: 40px;
    height: 40px;
    background: white;
    border: none;
    border-radius: 50px;
    margin-left: -43px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}